@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

.hero_nav {
    .slide-nav {
        position: fixed;
        background: $light-grey;
        height: 100%;
        z-index: 100000000;
        width: 100%;
        padding: 50px;
        color: $white;
        font-weight: 500;
        font-size: 1.25rem;
        transform: translateX(-100%);
        transition: 0.2s all ease-in-out;

        &.nav-open {
            transform: translateX(0);
        }

        @include media-breakpoint-down(sm) {
            padding: 24px;
        }

        .nav-btns {
            .btn {
                height: 60px;
                border-radius: 100px;
                font-weight: 700;
            }
        }

        .nav-link {
            font-size: 1.875rem;
            font-weight: 700;
        }
    }

    .navigation {
        .main_navigation {
            background-color: $primary;

            @include media-breakpoint-down(lg) {
                background-color: $white;
            }
        }

        nav.navbar {
            .primary_menu {
                ul.navbar-nav {
                    margin-bottom: 0;
                    padding-inline-start: 0;
                    display: flex;
                    gap: 72px;

                    li {
                        list-style: none;

                        a {
                            color: $white;
                            line-height: 1;
                            font-size: 1.125rem;
                        }

                        &.current-menu-item a {
                            font-weight: 600;
                        }
                    }

                    .dropdown {
                        position: relative;
                        perspective: 1000px;
                        z-index: 100;

                        &::after {
                            position: absolute;
                            content: "";
                            background: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4 4L7 1' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E") no-repeat;
                            width: 8px;
                            height: 5px;
                            top: 16px;
                            right: -5px;
                        }

                        &:hover {
                            cursor: pointer;

                            .dropdown-menu li {
                                display: block;
                            }
                        }

                        .dropdown-menu {
                            display: block;
                            background: none;
                            border-radius: 0;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            perspective: 1000px;
                            z-index: -1;

                            li {
                                display: none;
                                color: $white;
                                background: $dark;
                                padding: 8px 2px;
                                opacity: 0;

                                a.nav-link {
                                    font-size: 12px;
                                }

                                &:hover {
                                    background: $secondary;
                                }
                            }

                            @keyframes rotateX {
                                0% {
                                    opacity: 0;
                                    transform: rotateX(-90deg);
                                }

                                50% {
                                    transform: rotateX(-20deg);
                                }

                                100% {
                                    opacity: 1;
                                    transform: rotateX(0deg);
                                }
                            }

                        }
                    }

                    @mixin animate-menu-items($selector, $duration-per-item) {
                        $items: $selector;

                        @for $i from 1 through length($items) {
                            $item: nth($items, $i);

                            #{$item} {
                                transform-origin: top center;
                                animation: rotateX 300ms (($i - 1) * $duration-per-item) ease-in-out forwards;
                            }
                        }
                    }

                    @include animate-menu-items('ul.dropdown-menu li', 60ms);
                }
            }
        }
    }
}

header {
    background-size: cover;
    background-position: center;
    height: 500px;
    padding: 157px 0;

    &.homepage {
        height: 913px;
        padding: 137px 0;

        @include media-breakpoint-down(sm) {
            background-position-x: left;
            height: 635px;
            padding: 22px 0 47px;

            .container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }
        }
    }

    &.page,
    &.servicePage,
    &.suburbPage {
        height: 700px;

        @include media-breakpoint-down(sm) {
            height: 537px;
        }
    }

    &.page {
        padding: 157px 0;

        @include media-breakpoint-down(sm) {
            padding: 100px 0;
        }
    }

    &.servicePage,
    &.suburbPage {
        padding: 80px 0;
        display: flex;
        align-items: center;
    }
}

.homepage {
    section.section_1 {
        padding: 75px 0;
    }

    section.section_3 {
        @include media-breakpoint-up(md) {
            padding-top: 400px;
            background-size: cover;
            background-position: center;
        }

        @include media-breakpoint-up(lg) {
            padding-top: 680px;
        }

        @include media-breakpoint-down(sm) {
            background-image: none !important;
        }

        .section_3_inner {
            padding: 60px 0;
            background: $primary;
            color: $white;

            @include media-breakpoint-up(md) {
                padding: 78px 0;
                border-radius: 0 100px 0 0;
            }

            @include media-breakpoint-up(lg) {
                border-radius: 0 290px 0 0;
            }
        }
    }

    section.section_4 {
        padding: 75px 0;

        #home_whyUs {
            @include media-breakpoint-down(sm) {
                margin: 52px 0 64px;
            }

            .slick-slide {
                margin: 10px 6px;
            }

            .slick-dots {
                li {
                    height: 5px;
                    width: 5px;
                    margin: 0 3.5px;

                    button {
                        height: 5px;
                        width: 5px;
                        background: $grey;
                        border-radius: 50%;
                        padding: 0;

                        &::before {
                            border-radius: 50%;
                            height: 5px;
                            width: 5px;
                            content: "";
                        }
                    }

                    &.slick-active {
                        button::before {
                            background: $primary;
                        }
                    }
                }
            }
        }

        .why-us-card {
            background: $white;
            box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            height: 245px;
            padding: 47px 53px 16px;
            text-align: center;
            color: $primary;
            font-weight: 600;
            gap: 33px;
        }
    }

    section.section_5 {
        padding: 60px 0 35px;

        @include media-breakpoint-up(md) {
            padding: 105px 0 80px;
        }

        ul.reasons {
            padding-inline-start: 0;

            @include media-breakpoint-up(lg) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 61px;
            }

            li {
                padding: 25px 0;
            }
        }
    }
}

.about_us {
    section.section_1 {
        padding: 75px 0;

        @include media-breakpoint-down(sm) {
            padding: 60px 0;
        }
    }

    section.section_2 {
        padding: 116px 0 96px;

        @include media-breakpoint-down(sm) {
            padding: 60px 0 80px;
        }

        .section_image::before {
            border-color: $primary;
        }

        .commitment {
            background: $secondary;
            min-height: 117px;
            color: $white;
            font-weight: 500;
            font-size: 1.25rem;
            border-radius: 10px;
            padding: 16px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            @include media-breakpoint-down(sm) {
                font-size: 1rem;
                min-height: 82px;
            }
        }
    }

    section.section_3 {
        padding: 89px 0;
        background: $primary;
        color: $white;

        @include media-breakpoint-down(sm) {
            padding: 70px 0 10px;
        }
    }

    section.section_5 {
        padding: 105px 0;

        @include media-breakpoint-down(sm) {
            padding: 60px 0 10px;
        }

        .section_image::before {
            border-color: $primary !important;
        }
    }
}

.testimonials {
    section.section_1 {
        padding: 88px 0 64px;

        @include media-breakpoint-down(sm) {
            padding: 60px 0 10px;
        }
    }

    section.reviews {
        padding-top: 92px;

        .reviews_slider {
            .slick-track {
                margin: 80px 0 44px;
                display: flex;
            }

            .slick-dots {
                li {
                    height: 8px;
                    width: 8px;
                    margin: 0 3.5px;

                    button {
                        height: 8px;
                        width: 8px;
                        background: $grey;
                        border-radius: 50%;
                        padding: 0;

                        &::before {
                            border-radius: 50%;
                            height: 8px;
                            width: 8px;
                            content: "";
                        }
                    }

                    &.slick-active {
                        button::before {
                            background: $primary;
                        }
                    }
                }
            }

            .slick-list {
                padding: 0 !important;
            }

            .slick-slide {
                height: inherit;
                margin: 0 17px;
                transition: 0.2s all;

                @include media-breakpoint-up(lg) {
                    transform: scale(0.8);

                    &.slick-current.slick-center {
                        transform: scale(1);
                    }
                }
            }

            .review_slide {
                position: relative;
                background: $white;
                filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
                border-radius: 30px;
                text-align: center;
                padding: 85px 27px 44px;
                display: flex;
                flex-direction: column;
                align-items: center;

                @include media-breakpoint-down(sm) {
                    padding: 85px 9px 44px;
                }

                .initial {
                    height: 124px;
                    width: 124px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $primary;
                    color: $secondary;
                    border-radius: 50%;
                    margin: 0 auto;
                    position: absolute;
                    top: -65px;
                    font-size: 75px;
                    line-height: 1;
                    font-weight: 600;
                    border: 5px solid $white;
                }

                .comment {
                    line-height: 1.5;

                    @include media-breakpoint-up(md) {
                        font-size: 1.125rem;
                        line-height: 2;
                    }
                }
            }

            .slick-arrow {
                width: 50px;
                height: 50px;

                &.slick-prev::before {
                    display: block;
                    height: 50px;
                    width: 50px;
                    content: "";
                    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 35.7142L19.2857 24.6428L30 13.5714' stroke='%232E3192' stroke-width='2.14286' stroke-linecap='round'/%3E%3Ccircle cx='25' cy='25' r='23.9286' stroke='%232E3192' stroke-width='2.14286'/%3E%3C/svg%3E");
                }

                &.slick-next::before {
                    display: block;
                    height: 50px;
                    width: 50px;
                    content: "";
                    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 35.7142L30.7143 24.6428L20 13.5714' stroke='%232E3192' stroke-width='2.14286' stroke-linecap='round'/%3E%3Ccircle cx='25' cy='25' r='23.9286' transform='matrix(-1 0 0 1 50 0)' stroke='%232E3192' stroke-width='2.14286'/%3E%3C/svg%3E");
                }
            }
        }
    }
}

.contact_us {
    .tagline {
        background: $secondary;
        padding: 50px 0 77px;
        line-height: 1;
        color: $white;
        font-size: 27px;
        font-weight: 600;

        @include media-breakpoint-up(md) {
            text-align: center;
            font-size: 50px;
            padding: 77px 0;
        }
    }

    .main_form {
        position: relative;
        top: -45px;
        background: $white;
        padding: 23px;
        border-radius: 10px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);

        form {
            span.wpcf7-form-control-wrap {
                display: block;
            }

            input,
            select {
                height: 44px;
            }

            input,
            select,
            textarea {
                width: 100%;
                border: none;
                margin: 10px 0;
                border-radius: 5px;
                border: 1px solid rgba(0, 0, 0, 0.05);
                padding: 8px;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            button[type=submit] {
                border-radius: 100px;
                background-color: $primary;
                color: $white;
                border: none;
                height: 57px;
                display: flex;
                align-items: center;
                padding: 8px 24px;
                font-size: 1.125rem;
                font-weight: 600;
                margin-top: 30px;
            }
        }
    }

    section.form {
        background: $primary;
        margin: 20px 0;

        @include media-breakpoint-up(lg) {
            margin: 175px 0 83px;
        }

        ul.contacts {
            padding: 62px 0;
            padding-inline-start: 0;

            li {
                list-style: none;
                color: $white;
                font-weight: 500;
                font-size: 1.25rem;
                padding: 20px 0;
                display: flex;
                align-items: center;
                gap: 24px;

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem;
                    padding: 15px 0;
                }
            }
        }

        .main_form {
            position: absolute;
            padding: 41px;
            top: -103px;
        }
    }
}

.locations {
    section.areas {
        padding: 3.25rem 0;

        @media screen and (max-width: 576px) {
            padding: 2.75rem 0;
        }

        ul.areasWrapper {
            padding-inline-start: 0;
            margin-bottom: 0;

            @include media-breakpoint-up(md) {
                column-count: 2;
                column-gap: 75px;
            }

            @include media-breakpoint-up(lg) {
                column-count: 3;
                column-gap: 205px;
            }

            li.border {
                border-bottom: 2px solid $white !important;
                list-style: none;

                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }

            li.areaCharacterGrouping {
                page-break-inside: avoid;
                break-inside: avoid;
                list-style: none;
                border-bottom: 2px solid $white;
                padding: 30px 0;

                ul.arealist {
                    margin-top: 34px;
                    margin-bottom: 0;
                    padding-inline-start: 0;

                    li {
                        list-style: none;
                        padding: 0.25rem 0;

                        a {
                            color: $white;

                            &:hover {
                                color: $secondary;
                            }
                        }
                    }
                }
            }
        }
    }

    div.areas_droplist {
        position: relative;
        z-index: 9;
    }

    div.areas_droplist>div.caption {
        border: 1px solid #c4c4c4;
        padding: 11px 24px;
        border-radius: 0;
        cursor: pointer;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: 0.5rem;
            top: 35%;
            border: solid $primary;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            transition: all 0.35s ease;
        }
    }

    div.areas_droplist>div.list {
        position: absolute;
        background-color: #f2f2f2;
        width: 100%;
        border-radius: 0 0 3px 3px;
        display: none;
    }

    div.areas_droplist>div.list>div.item {
        padding: 11px 24px;
        background-color: #cecece;
        cursor: pointer;
    }

    div.areas_droplist>div.list>div.item.selected {
        font-weight: bold;
    }

    div.areas_droplist>div.caption:hover,
    div.areas_droplist>div.list>div.item:hover {
        background-color: $primary;
        color: #fff;
    }

    div.areas_droplist.open>div.caption {
        border-radius: 3px 3px 0 0;
        border-bottom: solid 1px #999;
    }

    div.areas_droplist.open>div.list {
        display: block;
        z-index: 99;
    }
}

.inner_service {
    section.section_1 {
        padding: 94px 0;

        @include media-breakpoint-down(sm) {
            padding: 62px 0 38px;
        }
    }

    section.section_2 {
        padding: 87px 0 99px;

        @include media-breakpoint-down(sm) {
            padding: 64px 0;
        }

        .service_card {
            background: $primary;
            border-radius: 10px;
            min-height: 82px;
            height: 100%;
            color: $white;
            font-size: 1rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 16px 24px;

            @include media-breakpoint-up(md) {
                font-size: 1.25rem;
                min-height: 160px;
            }
            
            @include media-breakpoint-up(lg) {
                padding: 16px 54px;
            }
        }
    }

    section.section_3,
    section.section_4,
    section.section_6,
    section.section_8,
    section.section_10 {
        padding: 94px 0;

        @include media-breakpoint-down(sm) {
            padding: 64px 0;
        }
    }

    section.section_4 {
        .list_card {
            .section_image::before {
                border-color: $primary;
            }

            img {
                height: 282px;
                object-fit: cover;

                @include media-breakpoint-down(sm) {
                    height: 178px;

                }
            }
        }
    }

    section.section_6 {
        .section_image::before {
            border-color: $primary;
        }

        .brand_slider {
            background-color: $primary;

            .slick-track {
                display: flex;
            }

            .slick-slide {
                height: inherit;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    section.section_7 {
        padding: 80px 0;

        &.primary {
            background: $primary imgUrl('pipes-secondary.png') right center;
        }

        &.secondary {
            background: $secondary;

            @include media-breakpoint-up(lg) {
                background: $secondary imgUrl('pipes-primary.png') right center;
            }
        }

        background-size: contain;
    }

    section.section_8 {
        .list_card {
            border-radius: 10px;
            background: $secondary;
            padding: 12px 14px;
            margin: 7.5px 0;

            @include media-breakpoint-up(md) {
                padding: 24px;
                margin: 22px 0;
            }

            @include media-breakpoint-up(lg) {
                padding: 42px 50px;
            }

            .index {
                line-height: 0.8;
                font-weight: 600;
                color: $primary;
                opacity: 0.5;
                font-size: 30px;

                @include media-breakpoint-up(md) {
                    font-size: 131px;
                }

                @include media-breakpoint-up(lg) {
                    font-size: 231px;
                }
            }
        }
    }

    section.section_9 {
        .list_card {
            background: $primary;
            border-radius: 10px;
            padding: 18px 18px 0;

            img {
                border-radius: 10px;
                width: 100%;
                height: 288px;
            }

            .caption {
                height: 85px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white;
                font-size: 1.25rem;
            }
        }
    }

    section.section_11 {
        padding: 76px 0;

        @include media-breakpoint-down(sm) {
            padding: 60px 0;
        }
    }

    section.section_12 {
        padding: 125px 0;

        @include media-breakpoint-down(lg) {
            padding: 80px 0;
        }

        @include media-breakpoint-down(sm) {
            padding: 60px 0;
        }

        .list_card {
            border-radius: 10px;
            background: $secondary;
            color: $white;
            padding: 12px 14px;
            margin: 22px 0;
            display: flex;
            align-items: center;

            @include media-breakpoint-up(md) {
                padding: 29px 42px;
            }

            .index {
                font-size: 50px;
                line-height: 1;
                font-weight: 600;
                color: $primary;
                opacity: 0.5;
                gap: 31px;

                @include media-breakpoint-down(sm) {
                    font-size: 30px;
                }
            }
        }
    }

    section.section_13 {
        padding: 86px 0;

        @include media-breakpoint-down(sm) {
            padding: 64px 0;
        }
    }
}

.suburb {
    section.section_1 {}
}

.footer_top {
    .mobile_footer_link_header {
        @include media-breakpoint-down(sm) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $white;
        }
    }

    .footer_menu {
        @include media-breakpoint-down(sm) {
            display: none;
        }

        padding-top: 24px;

        ul.menu {
            padding-inline-start: 0;
            margin: 0;
            list-style: none;

            li.menu-item {
                padding: 16px 0;

                @include media-breakpoint-down(lg) {
                    padding: 8px 0;
                }

                a.nav-link {
                    color: $white;

                    @include media-breakpoint-down(sm) {
                        font-size: 0.875rem;
                    }
                }
            }
        }

        ul.menu_services {
            column-count: 2;
            gap: 35px;
        }
    }
}