@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

.hero_nav {
    nav.navbar {
        .primary_menu {
            ul.navbar-nav {
                margin-bottom: 0;
                padding-inline-start: 0;
                display: flex;
                gap: 72px;

                li {
                    list-style: none;

                    a {
                        color: $white;
                        line-height: 1;
                        font-size: 1.125rem;
                    }

                    &.current-menu-item a {
                        font-weight: 600;
                    }
                }

                .dropdown {
                    position: relative;
                    perspective: 1000px;
                    z-index: 100;

                    &::after {
                        position: absolute;
                        content: "";
                        background: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4 4L7 1' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E") no-repeat;
                        width: 8px;
                        height: 5px;
                        top: 16px;
                        right: -5px;
                    }

                    &:hover {
                        cursor: pointer;

                        .dropdown-menu li {
                            display: block;
                        }
                    }

                    .dropdown-menu {
                        display: block;
                        background: none;
                        border-radius: 0;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        perspective: 1000px;
                        z-index: -1;

                        li {
                            display: none;
                            color: $white;
                            background: $dark;
                            padding: 8px 2px;
                            opacity: 0;

                            a.nav-link {
                                font-size: 12px;
                            }

                            &:hover {
                                background: $secondary;
                            }
                        }

                        @keyframes rotateX {
                            0% {
                                opacity: 0;
                                transform: rotateX(-90deg);
                            }

                            50% {
                                transform: rotateX(-20deg);
                            }

                            100% {
                                opacity: 1;
                                transform: rotateX(0deg);
                            }
                        }

                    }
                }

                @mixin animate-menu-items($selector, $duration-per-item) {
                    $items: $selector;

                    @for $i from 1 through length($items) {
                        $item: nth($items, $i);

                        #{$item} {
                            transform-origin: top center;
                            animation: rotateX 300ms (($i - 1) * $duration-per-item) ease-in-out forwards;
                        }
                    }
                }

                @include animate-menu-items('ul.dropdown-menu li', 60ms);
            }
        }
    }
}

header {
    background-size: cover;
    background-position: center;
    height: 500px;
    padding: 157px 0;

    &.homepage {
        height:913px;
        padding: 137px 0;
    }

    &.page {
        height: 700px;
        padding: 157px 0;
    }

    &.servicePage {
        height: 700px;
        padding: 80px 0;
        display: flex;
        align-items: center;
    }
}

.homepage {
    section.section_1 {
        padding: 75px 0;
    }

    section.section_3 {
        padding-top: 680px;
        background-size: cover;
        background-position: center;

        .section_3_inner {
            padding: 78px 0;
            background: $primary;
            border-radius: 0 290px 0 0;
            color: $white;
        }
    }

    section.section_4 {
        padding: 75px 0;

        .why-us-card {
            background: $white;
            box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            height: 245px;
            padding: 47px 53px 16px;
            text-align: center;
            color: $primary;
            font-weight: 600;
            gap: 33px;
        }
    }

    section.section_5 {
        padding: 105px 0 80px;

        ul.reasons {
            padding-inline-start: 0;
            columns: 2;
            column-gap: 61px;

            li {
                padding: 25px 0;
            }
        }
    }
}

.about_us {
    section.section_1 {
        padding: 75px 0;
    }

    section.section_2 {
        padding: 116px 0 96px;

        .commitment {
            background: $secondary;
            min-height: 117px;
            color: $white;
            font-weight: 500;
            font-size: 1.25rem;
            border-radius: 10px;
            padding: 16px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    section.section_3 {
        padding: 89px 0;
        background: $primary;
        color: $white;
    }

    section.section_5 {
        padding: 105px 0;

        .section_image::before {
            border-color: $primary !important;
        }
    }
}

.testimonials {
    section.section_1 {
        padding: 88px 0 64px;
    }

    section.reviews {
        padding-top: 92px;

        .reviews_slider {
            .slick-track {
                margin: 80px 0 44px;
                display: flex;
            }

            .slick-list {
                padding: 0 !important;
            }

            .slick-slide {
                height: inherit;
                margin: 0 17px;
                transform: scale(0.8);
                transition: 0.2s all;

                &.slick-current.slick-center {
                    transform: scale(1);
                }
            }

            .review_slide {
                position: relative;
                background: $white;
                filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
                border-radius: 30px;
                text-align: center;
                padding: 85px 27px 44px;
                display: flex;
                flex-direction: column;
                text-transform: uppercase;
                align-items: center;

                .initial {
                    height: 124px;
                    width: 124px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $primary;
                    color: $secondary;
                    border-radius: 50%;
                    margin: 0 auto;
                    position: absolute;
                    top: -65px;
                    font-size: 75px;
                    line-height: 1;
                    font-weight: 600;
                    border: 5px solid $white;
                }
            }

            .slick-arrow {
                width: 50px;
                height: 50px;

                &.slick-prev::before {
                    display: block;
                    height: 50px;
                    width: 50px;
                    content: "";
                    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 35.7142L19.2857 24.6428L30 13.5714' stroke='%232E3192' stroke-width='2.14286' stroke-linecap='round'/%3E%3Ccircle cx='25' cy='25' r='23.9286' stroke='%232E3192' stroke-width='2.14286'/%3E%3C/svg%3E");
                }

                &.slick-next::before {
                    display: block;
                    height: 50px;
                    width: 50px;
                    content: "";
                    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 35.7142L30.7143 24.6428L20 13.5714' stroke='%232E3192' stroke-width='2.14286' stroke-linecap='round'/%3E%3Ccircle cx='25' cy='25' r='23.9286' transform='matrix(-1 0 0 1 50 0)' stroke='%232E3192' stroke-width='2.14286'/%3E%3C/svg%3E");
                }
            }
        }
    }
}

.contact_us {
    .tagline {
        background: $secondary;
        padding: 77px 0;
        line-height: 1;
        color: $white;
        text-align: center;
        font-size: 50px;
        font-weight: 600;
    }

    section.form {
        margin: 175px 0 83px;
        background: $primary;

        ul.contacts {
            padding: 62px 0;
            padding-inline-start: 0;

            li {
                list-style: none;
                color: $white;
                font-weight: 500;
                font-size: 1.25rem;
                padding: 20px 0;
                display: flex;
                align-items: center;
                gap: 24px;
            }
        }

        .main_form {
            position: absolute;
            top: -103px;
            background: $white;
            padding: 41px;
            border-radius: 10px;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);

            form {
                span.wpcf7-form-control-wrap {
                    display: block;
                }

                input,
                select {
                    height: 44px;
                }

                input,
                select,
                textarea {
                    width: 100%;
                    border: none;
                    margin: 10px 0;
                    border-radius: 5px;
                    border: 1px solid rgba(0, 0, 0, 0.05);
                    padding: 8px;

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }

                button[type=submit] {
                    border-radius: 100px;
                    background-color: $primary;
                    color: $white;
                    border: none;
                    height: 57px;
                    display: flex;
                    align-items: center;
                    padding: 8px 24px;
                    font-size: 1.125rem;
                    font-weight: 600;
                    margin-top: 30px;
                }
            }
        }
    }
}

.locations {
}

.inner_service {
    section.section_1 {
        padding: 94px 0;
    }

    section.section_2 {
        padding: 87px 0 99px;

        .service_card {
            background: $secondary;
            border-radius: 10px;
            height: 117px;
            color: $white;
            font-size: 1.25rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 8px 60px;
        }
    }

    section.section_3, section.section_4, section.section_6 {
        padding: 94px 0;
    }

    section.section_4 {
        .list_card {
            img {
                height: 282px;
            }
        }
    }

    section.section_6 {
        .section_image::before {
            border-color: $primary;
        }

        .brand_slider {
            background-color: $primary;
            .slick-track {
                display: flex;
            }

            .slick-slide {
                height: inherit;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    section.section_7 {
        padding: 80px 0;
        background: $primary imgUrl('pipes-secondary.png') right center;
    }
}

.footer_top {
    .footer_menu {
        ul.menu {
            padding-inline-start: 0;
            margin: 0;
            list-style: none;

            li.menu-item {
                padding: 16px 0;

                @include media-breakpoint-down(lg) {
                    padding: 8px 0;
                }

                a.nav-link {
                    color: $white;

                    @include media-breakpoint-down(sm) {
                        font-size: 0.875rem;
                    }
                }
            }
        }

        ul.menu_services {
            column-count: 2;
            gap: 35px;
        }
    }
}